<%= render 'layouts/dash'%>
<div class="div1">
<h3>Job Application Details</h3>
<p>Recruiter Id:<%= @job_application.recruiter_id %></p>
<p>Applicant Id:<%= @job_application.applicant_id %></p>
<p>Job Name:<%= @job_application.job_name %></p>
<p>Job Description:<%= @job_application.job_description %></p>
<p>Qualification:<%= @job_application.qualification %></p>
<p>Last Date:<%= @job_application.last_date%></p>


  <%= link_to "Edit", edit_job_application_path(@job_application) %>
  <%= link_to "Destroy", job_application_path(@job_application), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
</div>